* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background: linear-gradient(to bottom, #f8f5ff, #efe9ff);
    color: #333;
    padding-bottom: 90px;
}

.header {
    background: linear-gradient(135deg, #8b5cf6, #ec4899);
    color: white;
    text-align: center;
    padding: 40px 20px;
    border-radius: 0 0 35px 35px;
    box-shadow: 0 8px 25px rgba(139, 92, 246, 0.35);
}

.header h1 {
    font-size: 30px;
    margin-bottom: 10px;
}

main {
    padding: 15px;
}

.stranica {
    display: none;
}

.stranica.aktivna {
    display: block;
}

.kartica,
section {
    background: rgba(255,255,255,.95);
    border-radius: 25px;
    padding: 25px;
    margin: 20px;
    box-shadow: 0 12px 30px rgba(0,0,0,.08);
    transition: .3s;
}

.kartica:hover,
section:hover {
    transform: translateY(-3px);
}

h2 {
    color: #9c27b0;
    margin-bottom: 15px;
}

input,
textarea,
select {
    width: 100%;
    padding: 12px;
    margin: 10px 0;
    border: 1px solid #ddd;
    border-radius: 10px;
    font-size: 16px;
}

textarea {
    min-height: 120px;
    resize: vertical;
}

button {
    width: 100%;
    background: #b983ff;
    color: white;
    border: none;
    padding: 12px;
    border-radius: 10px;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background: #9c27b0;
}

.meni {
    position: fixed;
    bottom: 15px;
    left: 50%;
    transform: translateX(-50%);
    width: 92%;
    background: rgba(255,255,255,.95);
    border-radius: 25px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 12px;
    box-shadow: 0 10px 25px rgba(0,0,0,.15);
    backdrop-filter: blur(10px);
}

.meni button {
    background: transparent;
    border: none;
    color: #8b5cf6;
    font-size: 28px;
    padding: 12px;
    border-radius: 16px;
    transition: all .3s ease;
    cursor: pointer;
}

.meni button:hover {
    background: #8b5cf6;
    color: white;
    transform: scale(1.1);
    }
.hero{
    background:linear-gradient(135deg,#8B5CF6,#EC4899);
    color:white;
    padding:30px;
    border-radius:25px;
    text-align:center;
    margin:20px;
    box-shadow:0 10px 25px rgba(139,92,246,.35);
}

.hero h2{
    color:white;
    font-size:30px;
    margin-bottom:10px;
}

.hero p{
    font-size:17px;
    opacity:.95;
}

progress{
    width:100%;
    height:14px;
    border-radius:20px;
}

progress::-webkit-progress-value{
    background:#8B5CF6;
    border-radius:20px;
}

progress::-webkit-progress-bar{
    background:#eee;
    border-radius:20px;
}
